<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boostrap: CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Read (All)</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <h1 class="text-left">Edit User {{ user['id'] }}</h1>
            </form>
            <a href="/users">Home</a>  
        </nav>
        <div class="main">
            <form action="/users/{{ user['id'] }}/update" method = "POST">
                <div class="form-group">
                    <label>First name:</label>
                    <input type="text" class="form-control" name="first_name" id="">
                </div>
                <div class="form-group">
                    <label>Last name:</label>
                    <input type="text" class="form-control" name="last_name" id="">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email"  id="">
                </div>
                <p>
                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="/users">Cancel</a> |
                    <a href="/user/{{ user['id'] }}">Show User</a>
                </p>
            </form>
        </div>
    </div>    
    <!-- Bootstrap: JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>